# GitHub Package Registry for @sureapp/canary-design-system
@sureapp:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

# Use legacy peer deps to resolve conflicts
legacy-peer-deps=true
